# Telegram
pyrofork==2.3.68
tgcrypto==1.2.5

# Database
motor==3.5.1
pymongo==4.8.0

# Web
aiohttp==3.10.10
aiofiles==24.1.0
requests==2.32.3
urllib3==2.2.3

# HTML/XML
beautifulsoup4==4.12.3
lxml==5.3.0

# Images
Pillow==10.4.0

# IMDb
cinemagoer==2023.5.1
SQLAlchemy==1.4.46

# Utilities
python-dotenv==1.0.1
psutil==6.1.0
pytz==2024.2
shortzy==0.0.3
umongo==3.1.0
marshmallow==3.21.3

# Search
fuzzywuzzy==0.18.0
python-Levenshtein==0.26.0

# Media
yt-dlp==2024.10.22

# Scheduler
APScheduler==3.10.4

# Async
uvloop==0.21.0; platform_system != "Windows"

# Cryptography
pycryptodome==3.21.0

# Parsing
regex==2024.9.11
